<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.PNG') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twin Studios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <h1 style="font-size:100px">Contact Information</h1>
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="QandA">Q and A</a></li>
                <li><a href="Works">Works</a></li>
                <li><a href="Info">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2 align="center" style="font-size:40px">Email</h2>
            <p align="center">Reitsuka Ai can be reached at ReitsukaAi@outlook.com, and Calvin Hove can be reached at
                calvinrhove@gmail.com</p>
        </section>
        <section>
            <h2 align="center" style="font-size:40px">Phone</h2>
            <p align="center">Reitsuka Ai can be reached at (XXX)-XXX-XXXX, and Calvin Hove can be reached at
                (XXX)-XXX-XXXX</p>
        </section>
        <section>
            <h2 align="center" style="font-size:40px">Fax</h2>
            <p align="center">Nobody has a fax machine anymore</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Twin Studios. All rights reserved.</p>
    </footer>
</body>

</html>