<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.PNG') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twin Studios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <h1 style="font-size:100px">Questions and Answers</h1>
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Info">About Us</a></li>
                <li><a href="Works">Our Works</a></li>
                <li><a href="Contact">Contact Info</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2 align="center">Q: Why did we found Twin Studios?</h2>
            <p align="center">A: Twin Studios is an organization built to deploy artwork and tell stories that otherwise
                wouldn't be
                told due to profitability concerns</p>
            <p>&nbsp</p>
        </section>
        <section>
            <h2 align="center">Q: Where did the name Twin Studios come from?</h2>
            <p align="center">A: The name is a reference to the Twin Cities of Minneapolis and St. Paul, where both
                Reitsuka and Calvin
                grew up
            </p>
            <p>&nbsp</p>
        </section>
        <section>
            <h2 align="center">Q: Who are the characters on the front page?</h2>
            <p align="center">A: The left one is Lucy Schwartz, and the right is her alter ego Lucilia Shiro-Schwartz.
                Both are
                characters from the novel and game adaptation Lucilia: In a Black and White World
            </p>
            <p>&nbsp</p>
        </section>
        <section>
            <h2 align="center">Q: Who is your favorite character?</h2>
            <p align="center">Reitsuka: Remilila Lemoiux from A Human Reworked</p>
            <p align="center">Calvin: I should say Leo from Twin Souls, as he's obviously based on me, but my favorite
                is actually Kira from Life at 60 Frames per Second</p>
            <p>&nbsp</p>
        </section>
        <section>
            <h2 align="center">Q: Which is your favorite work?</h2>
            <p align="center">Reitsuka: A Human Reworked might be amateurish, but it's the best representation of the
                human spirit that
                I've ever made</p>
            <p align="center">Calvin: Life at 60 Frames Per Second without a doubt. Nothing comes close to how well all
                of the artistic
                elements align in this particular work</p>
            <p>&nbsp</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Twin Studios. All rights reserved.</p>
    </footer>
</body>

</html>